$navbar-height: 80px;

.data-analyze-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;

  &-result-view {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}